.contatos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


.titulo__contatos{
    color: var(--borda-itens);
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    font-size: calc(1.325rem + .9vw);

}


.list {
    display: flex;
    flex-direction: column;
    gap: 1em;

}

.item__contatos {
    text-decoration: none;
   
}


.link__github,
.link__email,
.link__linkedin ,
.link__facebook{
    color: var(--titulo-imagens);
    font-family:'Courier New', Courier, monospace;
    font-size: 44px;

}

.lista__contatos {
    display: flex;
    flex-direction: column;
    gap: 2em;
    font-size: 50px;
    padding: 0 3em;
    margin: 3% 0;
    
}

.item__contatos:hover {
   background-color: var(--background-navegacao);
   color: var(--color-white);
   border-radius: 10px;

}

.link__github {
    color: #000000;
    
}


.fa_envelope {
    color: rgb(230, 26, 26);
    margin-right: 10px;
    background-color: rgba(224, 214, 214, 0.82);
    border: solid 1px;
    border-color: white;

}

.fa_github {
    background-color: rgba(224, 214, 214, 0.82);

}

.fa_github,
.fa_linkedin {
    color:  var(--color-principal);
    margin-right: 10px;
}

.fa-square-instagram {
    color: rgb(200, 36, 129);
    margin-right: 10px;
}


@media (max-width: 768px) {
    .container {
      flex-wrap: wrap;
      align-items: center;
    }
    
    .container__list {
      flex-direction: column;
    }

    .item__contatos {
        font-size: 25px;
    }
  }