.contatos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.titulo__contatos{
    color: var(--titulo-imagens);
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    font-size: calc(1.325rem + .9vw);

}

.list__contatos {
    display: flex;
    flex-direction: column;
    gap: 40px;
    font-size: 50px;
    padding: 0 1em;
    margin: 3% 0;
    
}

.navegation__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.item__contatos {
    text-decoration: none;
    align-items: center;
   
}

.item__contatos:hover {
    background-color: var(--hover-navegation);
} 



.link__email,
.link__linkedin ,
.link__github,
.link__facebook{
    color: var(--titulo-imagens);
    font-family:'Courier New', Courier, monospace;
    font-size: 44px;

}


.fa-envelope {
    color: rgb(159, 89, 89);
    margin-right: 10px;
}

.fa-github,
.fa-linkedin {
    color:  var(--color-principal);
    margin-right: 10px;
}

.fa-square-instagram {
    color: rgb(200, 36, 129);
    margin-right: 10px;
}


@media (max-width: 768px) {
    .container {
      flex-wrap: wrap;
      align-items: center;
    }
    
    .container__list {
      flex-direction: column;
    }

    .item__contatos {
        font-size: 25px;
    }
  }