
/* Fasam */

.fasam__course {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10%;

}

.course__fasam {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.accordionPanelsStayOpenExample {
    max-width: 100%;
}

.fasam__title {
    text-align: center;
    color: var(--dark-blue);
    text-transform: uppercase;
}


.image__fasam {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55%;
    padding: 1em;

}

.texto__fasam {
    color: var(--absolute-black);
    font-weight: 900;    
    font-family: var(--font-Chakra400);
    font-size: 15px;
}

.accordion {
    text-align: center;
    width: 55%;
}

.accordion-button:not(.collapsed) {
    background-color: var(--light-blue);
    color: var(--white);
    
}

@media screen and (max-width: 1007px) {

    .fasam__course {
        height: 70vh;
    }

    .image__fasam {
        max-width: 90%;
        margin: 0 auto;

    }
    
    .certificates {
        margin-top: 15%;
    }

    .container__title{
        display: flex;
        justify-content: center;
    }

    .certificateImage {
        margin: 14px auto;
    }
    
    }


@media (max-width: 768px) {
    .image__fasam {
        width: 90%;
    }

    .accordion {
        width: 90%;
    }

    #accordionPanelsStayOpenExample {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .accordion {

        width: 90%;
    }

    .fasam__course{
        margin-top: 0;
        height: 62vh;
    }
}