/*Header*/

.container__header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container__header img {
    width: 170px;
    margin-bottom: 10px;
}

.container__header .date {
    font-family: var(--font-Chakra400);
    background-color: var(--light-blue);
    margin: 1em;
    padding: 0.5em;
    color: var(--white);
    border: none;
    border-radius: 10px;
}

.container__navegation {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;

}

.container__navegation .container__list {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 1em;
    margin: 0;
    list-style-type: none;



}


.container__list__item {
    display: flex;
    justify-content: center;
    color: var(--absolute-black);
    text-transform: uppercase;
    text-decoration: none;
    border: 2px solid var(--light-blue);
    border-radius: 10%;
    padding: 0.3em;

}

.container__list__item:hover {
    color: var(--white);
    background-color: var(--light-blue);

}

@media screen and (max-width: 850px) {
    .container__header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1em;

    }

    .container__header img {
        width: 200px;
        margin-bottom: 0;
    }

    .container__header .date {
        margin-top: 0;
    }

}

.container__list {
    display: flex;
    
}

@media screen and (max-width: 750px) {
    .container__list {
        display: flex;
        flex-direction: column;

}