header {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }

  header .header__logo {
    padding: 1em;
  }

  .header__list {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    gap: 40px;
    color: var(--color-black);
    text-transform: uppercase;
    padding: 2em;
   
  }
  
.header__list__item {
    padding: 1em;
    border: 3px solid var(--borda-itens);
    border-radius: 10px;
    text-decoration: none;
    font-weight: 900;

    
}
  .header__list__item:hover {
    background-color: var(--background-navegacao);
    color: var(--color-white)
  }

  @media (max-width: 854px) {

    .header .header__list {
      display: flex;
      flex-wrap: wrap;
      
    }
    
    .header__list {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
    }
  }