
/* Fasam */

.fasam__course {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;

}

.course__fasam {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.accordionPanelsStayOpenExample {
    max-width: 100%;
}

.fasam__title {
    text-align: center;
    color: var(--dark-blue);
    text-transform: uppercase;
}


.image__fasam {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    padding: 1em;

}

.texto__fasam {
    color: var(--absolute-black);
    font-weight: 900;    
    font-family: var(--font-Chakra400);
    font-size: 15px;
}

.accordion {
    text-align: center;
    width: 500px;
}

.accordion-button:not(.collapsed) {
    background-color: var(--light-blue);
    color: var(--white);
    
}


@media (max-width: 768px) {
    .image__fasam {
        width: 75%;
    }

    #accordionPanelsStayOpenExample {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .accordion {

        width: 100%;
    }

    .fasam__course {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        max-width: 100vw;
    
    }
    
}