/* Section skills */

.certificates {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--dark-blue);
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    height: 82vh;

}


.container__title {
    color: var(--dark-blue);
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 14px;

}

.certificateImage {
    max-width: 55%;
    margin: 0 auto;
    box-shadow: 10px 10px 10px 0 var(--soft-white);
    border-radius: 20px;

}

.certificateImage:hover{
    opacity: 0.7;
    box-shadow: 10px 10px 10px 0 var(--light-gray);

}


@media screen and (max-width: 1007px) {

    .certificateImage {
        max-width: 90%;
        margin: 0 auto;

    }
    
    .certificates {
        margin-top: 15%;
    }

    .container__title{
        display: flex;
        justify-content: center;
    }

    .certificateImage {
        margin: 14px auto;
    }
    
    }


@media screen and (max-width: 768px) {

    .certificateImage {
        max-width: 90%;
        margin: 0 auto;

    }

    .certificates {
        margin-top: 0;
        height: 62vh;
    }

}
     
    