:root {
  --font-Chakra400: 'Chakra Petch', sans-serif;
  --color-white: #FFF;
  --color-black: #020a0a;
  --background: #ADD8E6;
  --borda-itens: #4d54e7;
  --color-descrition: rgb(203 233 224);
  --titulo-imagens: rgb(55, 17, 180);
  --textos: rgb(11, 10, 12);
  --background-navegacao: rgb(13, 11, 146);
  --border-projetos: #d01440;
  --fonte-creditos: Arial, Helvetica, sans-serif;
  --texto-fasam: #100f02;
  --hover-itens-cabecalho: rgb(43, 153, 226);
  --hover-navegacao: rgb(36, 169, 231);
}



* {
  box-sizing: 100%;
  max-width: 100%;
}

.body {
  font-family: var(--font-Chakra400);
  background-color: var(--background);
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

section {
  height: 100vh;
}


