:root {
  --font-Chakra400: 'Chakra Petch', sans-serif;
  --background: #ADD8E6;
  --white: #FFF;
  --soft-white: #f5f5ef;
  --absolute-black: #020a0a;
  --light-blue: #4d54e7;
  --dark-blue: #3711b4;
  --dark-black: #0b0a0c;
  --red: #d01440;
  --medium-blue: #0a66c2;
  --dark-green: #118757;
  --light-gray: #e7eae5;
  --navy-blue: #1d016f;


}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-Chakra400);
  background-color: var(--light-gray);
  width: 100vw;

}

html {
  scroll-behavior: smooth;
}

