.contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 6%;

}

.title__contacts {
    color: var(--dark-blue);
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;

}

.list__contacts {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 2em;


}



.navegation__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}


.item__contacts {
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0.3em;
    font-family: 'Courier New', Courier, monospace;
    font-size: 44px;


}

.item__contacts:hover {
    background-color: var(--light-blue);
    border-radius: 10px;
    background-color: var(--white);


}

.link__email {
    color: var(--absolute-black);
}


[stroke="currentColor"] {
    color: var(--red);
    margin-right: 10px;

}


.link__linkedin {
    gap: 10px;
}


.fa-linkedin {
    color: var(--medium-blue);

}

.link__github {
    gap: 10px;
    color: var(--absolute-black);
}

[data-icon="github"] {
    color: black;
}


.fa-github {
    color: var(--absolute-black);
    margin-right: 10px;
}

.link__facebook {
    gap: 10px;

}

.fa-facebook {
    margin-right: 10px;
    color: var(--medium-blue);

}

.link-tooltip {
    position: relative;
}



.link-tooltip::after {
    content: "Click to be directed";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--dark-black);
    color: var(--white);
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    width: 250px;
    text-align: center;
}

.link-tooltip:hover::after {
    opacity: 1;
}


@media screen and (max-width: 1007px) {

    .contacts {
        height: 70vh;
    }

}



@media screen and (max-width: 768px) {
    .contacts {
        margin-top: 0;
        height: 62vh;
    }

    .title__contacts {
        font-size: 1.5em;
    }


    .list__contacts {
        font-size: 25px;
    }


}