
/* Section about me */
section {
    padding: 0;
    margin: 0;
}



.apresentacao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3em 0 0 0;
}

.imagem__castelo {
    width: 35vw;
    height: 35vw;
    box-shadow: 10px 10px 10px 0 #0f0f0f;
}

.imagem__castelo:hover {
    box-shadow: 10px 10px 10px 0 #e7eae5;
}

.apresentacao__quem__sou {
    padding: 2em 0;
    text-align: -webkit-center;
}

.botao__quem_sou {
    color: var(--color-principal);
    text-transform: uppercase;
    border-color: var(--borda-itens);
    border-width: 3px;
}

.botao__quem_sou:hover {
    color: #FFF;
    border-color: #FFF;
    background-color: var(--borda-itens);

}


/* Text About me  */

.fechar {
    color: var(--color-principal);
    text-transform: uppercase;
    border-color: var(--borda-itens);
    border-width: 3px;
    display:flex;
}

.fechar:hover {
    color: #FFF;
    border-color: #FFF;
    background-color: var(--borda-itens);
}

.fechar__botao {
    position: absolut;
}

.texto__quem-sou{
    color: var(--textos);
}


@media (max-width: 854px) {

    .cabecalho {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;


    }

    .cabecalho__lista__item {
        width: 20px;
    }


    .audio__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 200px;
    }

    /*About me*/

    .apresentacao__imagem {
        max-width: 100%;
        overflow: hidden;
    }

    .apresentacao__imagem img {

        text-align: center;
        height: auto;
        width: 80vw;
        box-shadow: 10px 10px 10px 0 #dce8d5;
    }

    .apresentacao__quem__sou {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }


}