/* Section about me */

.presentation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 6%;
}

.presentation__image {
    display: flex;
}

.presentation__image .image__castle {
    margin: 0 auto;
    width: 40%;
    box-shadow: 10px 10px 10px 0 var(--light-gray);
}

.image__castle:hover {
    box-shadow: 10px 10px 10px 0 var(--light-blue);
}

.presentation__whoIAm {
    padding: 1.5em 0;
    
}

.close__button {
    display: flex;
    max-width: 600px;
}

.text__whoIam{
    color: var(--dark-black);
}

.button__whoIAm {
    color: var(--absolute-black);
    text-transform: uppercase;
    border-color: var(--light-blue);
    border-width: 3px;
}

.close__button {
    display: block;
    text-align: center;
    max-width: 600px;
    
}



.button__whoIAm:hover {
    color: var(--white);
    border-color: var(--white);
    background-color: var(--light-blue);

}

@media screen and (max-width: 1007px) {
    .presentation__image .image__castle {
       width: 70%;
       margin-top: 10%;
    }


    .top {
        display: none;
    }
   
   }
    

@media (max-width: 768px) {

    .presentation__image .image__castle{
        width: 90%;
        margin-top: 0;
    }


} 

