
/* Section about me */
section {
    padding: 0;
    margin: 0;
}



.apresentacao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3em 0 0 0;
}

.imagem__castelo {
    width: 35vw;
    height: 35vw;
    box-shadow: 10px 10px 10px 0 #0f0f0f;
}

.imagem__castelo:hover {
    box-shadow: 10px 10px 10px 0 #e7eae5;
}

.apresentacao__quem__sou {
    padding: 2em 0;
    text-align: -webkit-center;
}




/* Text About me  */



@media (max-width: 854px) {

    .cabecalho {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;


    }

    .cabecalho__lista__item {
        width: 20px;
    }


}